<?xml version="1.0" encoding="utf-8"?><!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  --><configuration><system.web><compilation debug="true" targetFramework="4.5" /><httpRuntime targetFramework="4.5" /></system.web><appSettings><add key="rx_db_type" value="sql" /></appSettings><connectionStrings><add name="rx_ms_sql_conn_str" connectionString="Data Source=rm-2ze460in76d2iboj7qo.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=mstanford_moot;User ID=moot_sa;pwd=Mstf123456" /></connectionStrings></configuration>

<!-- Ctrl + E + D 进行格式化 -->